.card {
    width: 80%;
    background-color: cyan
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .card {
        width: 65%;
        background-color: black;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {
    .card {
        width: 50%;
        background-color: blue;
    }
}

@media only screen and (min-width: 1201px) {
    .card {
        width: 35%;
        background-color: red;
    }
}